.footer {
  height: 600px;
  background-image: url(assets/img/footerbg.png);
  background-position: bottom;
  background-repeat: no-repeat;

  @include breakpoint(footer-container) {
    height: 700px;
  }

  &__container {
    @include breakpoint(footer-container) {
      flex-direction: column;
    }
  }

  &__logo {
    flex-basis: 325px;

    @include breakpoint(footer-container) {
      flex-basis: 100px;
      text-align: center;
    }
  }

  &__nav-area {
    @include breakpoint(footer-container) {
      justify-content: space-around;
    }
  }

  &__nav-holder {
    margin-right: 80px;

    @include breakpoint(footer-container) {
      margin-right: unset;
    }
  }
  &__nav-heading {
    font-size: font-size(fs-25);
    line-height: map-get($line-height, lh-30);
    margin-bottom: 35px;
    color: $primary-text-color;
  }
  &__nav-item {
    font-size: font-size(fs-18);
    line-height: map-get($line-height, lh-35);

    &-link {
      color: $footer-link;
    }
  }
}
.footer__nav-social-facebook {
  color: $facebook-blue;
  margin-right: 17px;
}

.footer__nav-social-twitter {
  color: $twitter-blue;
  margin-right: 10px;
}

.footer__nav-social-instagram {
  color: $instagram-pink;
  margin-right: 14px;
}
