.top__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: $secondary-text-color;
}
.header__nav {
  padding: 25px 20px;
}
.logo__size {
  width: 176px;
  height: 49px;
}
.header__nav-holder {
  margin-top: 4px;
  margin-left: auto; // flex
}
.header__nav-item {
  font-size: font-size(fs-18);
  color: $header-nav-text;
  line-height: map-get($line-height, lh-18);

  &--active {
    background-color: $header-nav-btn;
    color: $secondary-text-color;
    padding: 12px 20px 12px 22px;
    border-radius: 20px;
    margin-left: 53px;
  }
}
