.top__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: $secondary-text-color;
}
.header__nav {
  padding: 25px 20px;
  @include breakpoint(small-screen) {
    padding: 15px;
  }
}
.logo__size {
  width: 176px;
  height: 49px;

  @include breakpoint(small-screen) {
    width: 100px;
    height: 28px;
  }
}
.header__nav-item {
  font-size: font-size(fs-18);
  color: $header-nav-text;
  line-height: map-get($line-height, lh-18);

  @include breakpoint(small-screen) {
    font-size: font-size(fs-16);
  }

  &--active {
    background-color: $header-nav-btn;
    color: $secondary-text-color;
    padding: 12px 20px 12px 22px;
    border-radius: 20px;
    margin-left: 53px;

    @include breakpoint(small-screen) {
      margin-left: 20px;
      padding: 10px 15px;
    }
  }
}
