* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h2,
h3,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Metropolis; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 40px; }

h1,
h2 {
  font-weight: 700; }

h3 {
  font-size: 26px; }

hr {
  margin: 0; }

@font-face {
  font-family: Metropolis;
  src: url(assets//font/Metropolis-Regular.otf);
  font-weight: 400; }

@font-face {
  font-family: Metropolis;
  src: url(assets/font/Metropolis-Bold.otf);
  font-weight: 700; }

.horizontal-align {
  margin-left: auto;
  margin-right: auto; }

.wrapper {
  max-width: 1150px;
  padding: 0 20px; }

.container {
  max-width: 1200px;
  padding: 0 20px; }

.popup-container {
  max-width: 700px;
  padding: 0 20px; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.flex {
  display: flex; }

.justify-between {
  justify-content: space-between; }

.justify-end {
  justify-content: flex-end; }

.items-center {
  align-items: center; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.ml-30 {
  margin-left: 30px; }

.my-40 {
  margin: 40px 0; }

.secondary-btn {
  border: 0;
  outline: 0;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  color: #434343;
  background-color: transparent; }
  @media screen and (max-width: 500px) {
    .secondary-btn {
      font-size: 16px; } }

.primary-btn {
  border: 0;
  outline: 0;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  background-color: #7f83ff;
  color: #ffffff;
  padding: 12px 20px 12px 22px;
  border-radius: 20px; }
  @media screen and (max-width: 500px) {
    .primary-btn {
      margin-left: 20px;
      padding: 10px 15px; } }

.top__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: #ffffff; }

.header__nav {
  padding: 25px 20px; }
  @media screen and (max-width: 500px) {
    .header__nav {
      padding: 15px; } }

.logo__size {
  width: 176px;
  height: 49px; }
  @media screen and (max-width: 500px) {
    .logo__size {
      width: 100px;
      height: 28px; } }

.header__item-last {
  margin-left: 53px; }
  @media screen and (max-width: 500px) {
    .header__item-last {
      margin-left: 20px; } }

.hero {
  background-image: url(assets/img/hero.png);
  height: 950px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 500px) {
    .hero {
      height: 100vh; } }
  .hero__content {
    max-width: 798px;
    text-align: center;
    margin-top: 150px; }
    @media screen and (max-width: 1100px) {
      .hero__content {
        width: 500px; } }
    @media screen and (max-width: 780px) {
      .hero__content {
        width: 85%; } }
  .hero__heading {
    color: #2f2d2d; }
    @media screen and (max-width: 500px) {
      .hero__heading {
        font-size: 30px;
        line-height: 40px; } }
  .hero__desc {
    margin-top: 30px;
    color: #2f2d2d;
    font-size: 26px;
    line-height: 40px; }
    @media screen and (max-width: 500px) {
      .hero__desc {
        margin-top: 25px;
        font-size: 20px;
        line-height: 30px; } }
  .hero__btn-holder {
    margin-top: 30px; }
    @media screen and (max-width: 500px) {
      .hero__btn-holder {
        margin-top: 25px; } }
  .hero__btn {
    font-size: 25px;
    line-height: 25px;
    padding: 15px 0;
    width: 151px;
    text-align: center;
    border-radius: 8px; }
    @media screen and (max-width: 500px) {
      .hero__btn {
        font-size: 18px;
        line-height: 20px;
        padding: 12px 0;
        width: 110px; } }
  .hero__btn-bgcolor {
    background-color: #4a4edd;
    color: #ffffff;
    margin-right: 32px; }
  .hero__btn-border {
    border: 2px solid #4a4edd;
    color: #4a4edd; }

.warp__header {
  max-width: 694px;
  text-align: center;
  margin-bottom: 179px; }
  @media screen and (max-width: 500px) {
    .warp__header {
      margin-bottom: 80px; } }

.warp__heading {
  color: #2f2d2d; }

.warp__nav {
  margin-top: 46px; }
  @media screen and (max-width: 500px) {
    .warp__nav {
      margin-top: 30px; } }

.warp__nav-item {
  font-size: 22px;
  border-bottom: 3px solid #a4a4a44d;
  width: calc(100% / 3);
  margin-top: 33px;
  padding-bottom: 33px;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 780px) {
    .warp__nav-item {
      flex-flow: column; } }
  @media screen and (max-width: 500px) {
    .warp__nav-item {
      padding-bottom: 15px; } }

.nav-item__circle-icon {
  padding: 14px;
  border-radius: 50px;
  height: 47px;
  width: 47px; }
  @media screen and (max-width: 500px) {
    .nav-item__circle-icon {
      padding: 12px;
      height: 42px;
      width: 42px; } }

.nav-item__text {
  font-size: 22px;
  line-height: 25px;
  margin: 0 0 0 23px;
  color: #2f2d2d; }
  @media screen and (max-width: 780px) {
    .nav-item__text {
      margin: 18px 0 0 0; } }
  @media screen and (max-width: 500px) {
    .nav-item__text {
      margin: 10px 0 0 0;
      font-size: 18px; } }

.nav-item__circle-blue {
  background-color: #7696fe33; }

.nav-item__circle-red {
  background-color: #fd5d5d33; }

.nav-item__circle-green {
  background-color: #49a65233; }

.nav-item__circle-pink {
  background-color: #fb148833; }

.nav-item__circle-skyblue {
  background-color: #03d3e233; }

.nav-item__circle-purpel {
  background-color: #13024233; }

.hover-blue:hover {
  border-bottom-color: #7796fe;
  cursor: pointer; }
  .hover-blue:hover > .nav-item__circle-blue {
    background-color: #7796fe; }
  .hover-blue:hover > .text-blue {
    color: #7796fe; }
  .hover-blue:hover .hire__edit-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hover-red:hover {
  border-bottom-color: #fd5e5e;
  cursor: pointer; }
  .hover-red:hover > .nav-item__circle-red {
    background-color: #fd5e5e; }
  .hover-red:hover > .text-red {
    color: #fd5e5e; }
  .hover-red:hover .hire__done-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hover-green:hover {
  border-bottom-color: #49a652;
  cursor: pointer; }
  .hover-green:hover > .nav-item__circle-green {
    background-color: #49a652; }
  .hover-green:hover > .text-green {
    color: #49a652; }
  .hover-green:hover .hire__people-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hover-pink:hover {
  border-bottom-color: #fb1488;
  cursor: pointer; }
  .hover-pink:hover > .nav-item__circle-pink {
    background-color: #fb1488; }
  .hover-pink:hover > .text-pink {
    color: #fb1488; }
  .hover-pink:hover .work__job-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hover-skyblue:hover {
  border-bottom-color: #03d3e2;
  cursor: pointer; }
  .hover-skyblue:hover > .nav-item__circle-skyblue {
    background-color: #03d3e2; }
  .hover-skyblue:hover > .text-skyblue {
    color: #03d3e2; }
  .hover-skyblue:hover .work__done-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hover-purpel:hover {
  border-bottom-color: #130242;
  cursor: pointer; }
  .hover-purpel:hover > .nav-item__circle-purpel {
    background-color: #130242; }
  .hover-purpel:hover > .text-purpel {
    color: #130242; }
  .hover-purpel:hover .work__people-icon[fill] {
    fill: #ffffff;
    cursor: pointer; }

.hire-warp {
  padding: 179px 0 130px 0; }
  @media screen and (max-width: 500px) {
    .hire-warp {
      padding: 80px 0 80px 0; } }

.hire__bg-right {
  background-image: url(assets/img/Group145.png);
  height: 608px;
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media screen and (max-width: 1100px) {
    .hire__bg-right {
      height: 800px; } }
  @media screen and (max-width: 780px) {
    .hire__bg-right {
      background-size: 523px; } }
  @media screen and (max-width: 500px) {
    .hire__bg-right {
      height: 520px;
      background-size: 310px; } }

.hire__card-left {
  clip-path: path("M0.0293706 21.0294C0.0131563 9.41993 9.41992 0 21.0294 0H728.117C740.782 0 750.565 11.1262 748.944 23.6867L715.555 282.518L23.6719 355.554C11.2823 356.862 0.484857 347.158 0.467457 334.699L0.0293706 21.0294Z");
  background-color: #7796fe;
  padding: 49px 0 98px 56px;
  width: 750px;
  height: 356px; }
  @media screen and (max-width: 780px) {
    .hire__card-left {
      clip-path: unset;
      width: 100%;
      border-radius: 20px;
      height: unset;
      padding: 50px; } }
  @media screen and (max-width: 500px) {
    .hire__card-left {
      padding: 25px; } }

.hire__card-left-content {
  max-width: 564px;
  color: #ffffff; }
  @media screen and (max-width: 780px) {
    .hire__card-left-content {
      max-width: 100%; } }

@media screen and (max-width: 780px) {
  .card-heading {
    line-height: 35px; } }

@media screen and (max-width: 500px) {
  .card-heading {
    font-size: 22px;
    line-height: 30px; } }

.card-desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 31px; }
  @media screen and (max-width: 500px) {
    .card-desc {
      font-size: 16px;
      line-height: 22px;
      margin-top: 15px; } }

.hire__bg-left {
  margin-top: 144px;
  background-image: url(assets/img/Group172.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 768px; }
  @media screen and (max-width: 1100px) {
    .hire__bg-left {
      margin-top: unset;
      height: 1200px; } }
  @media screen and (max-width: 780px) {
    .hire__bg-left {
      background-size: 500px;
      height: 1120px; } }
  @media screen and (max-width: 500px) {
    .hire__bg-left {
      background-size: 300px;
      height: 800px; } }

.hire__card-right {
  margin-top: 80px;
  clip-path: path("M78 93.165L681.968 0.532488C694.08 -1.32522 705 8.04735 705 20.3013V503C705 514.046 696.046 523 685 523H20.1761C7.62763 523 -1.82108 511.578 0.530394 499.252L78 93.165Z");
  background-color: #ff865b;
  padding: 153px 0 87px 122px;
  width: 709px;
  height: 523px; }
  @media screen and (max-width: 780px) {
    .hire__card-right {
      clip-path: unset;
      padding: 50px;
      width: 100%;
      height: unset;
      border-radius: 20px; } }
  @media screen and (max-width: 500px) {
    .hire__card-right {
      margin-top: 60px;
      padding: 25px; } }

.hire__card-right-content {
  max-width: 539px;
  color: #ffffff; }
  @media screen and (max-width: 780px) {
    .hire__card-right-content {
      max-width: 100%; } }

.hire__card-right-desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 31px; }

.shadow-blue {
  filter: drop-shadow(3px 24px 21px #7696fe80); }

.shadow-orange {
  filter: drop-shadow(15px 19px 21px #ff865b80); }

.work-warp {
  margin-bottom: 287px; }
  @media screen and (max-width: 1100px) {
    .work-warp {
      margin-bottom: 180px; } }
  @media screen and (max-width: 500px) {
    .work-warp {
      margin-bottom: 80px; } }

.work__bg-right {
  background-image: url(assets/img/Group163.png);
  height: 621px;
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media screen and (max-width: 1100px) {
    .work__bg-right {
      height: 870px; } }
  @media screen and (max-width: 780px) {
    .work__bg-right {
      height: 800px;
      background-size: 450px; } }
  @media screen and (max-width: 500px) {
    .work__bg-right {
      height: 600px;
      background-size: 320px; } }

.work__card-left {
  clip-path: path("M29.3663 425.915C30.191 437.538 40.3202 446.267 51.9369 445.366L686.38 396.176C698.207 395.259 706.927 384.736 705.631 372.945L673.617 81.5993L24.3371 1.1398C11.2134 -0.486511 -0.128856 10.276 0.807213 23.4669L29.3663 425.915Z");
  background-color: #8937dc;
  padding: 99px 0 80px 79px;
  width: 706px;
  height: 446px; }
  @media screen and (max-width: 780px) {
    .work__card-left {
      clip-path: unset;
      padding: 50px;
      width: 100%;
      height: unset;
      border-radius: 20px; } }
  @media screen and (max-width: 500px) {
    .work__card-left {
      padding: 25px; } }

.work__card-left-content {
  max-width: 490px;
  color: #ffffff; }
  @media screen and (max-width: 780px) {
    .work__card-left-content {
      max-width: 100%; } }

.work__bg-left {
  margin-top: 200px;
  background-image: url(assets/img/Group247.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 802px; }
  @media screen and (max-width: 1100px) {
    .work__bg-left {
      height: 1200px;
      margin-top: unset; } }
  @media screen and (max-width: 780px) {
    .work__bg-left {
      height: 1200px;
      background-size: 500px; } }
  @media screen and (max-width: 500px) {
    .work__bg-left {
      height: 885px;
      background-size: 300px; } }

.work__card-right {
  margin-top: 80px;
  clip-path: path("M76.1246 98.6C77.8497 90.3411 84.572 84.053 92.9276 82.8825L681.741 0.398299C694.272 -1.35714 705.264 8.81924 704.477 21.4483L670.382 568.82C669.643 580.673 658.798 589.276 647.087 587.297L17.4942 480.893C6.30541 479.002 -1.07048 468.191 1.24956 457.083L76.1246 98.6Z");
  background-color: #7cca84;
  padding: 148px 0px 147px 132px;
  width: 709px;
  height: 594px; }
  @media screen and (max-width: 780px) {
    .work__card-right {
      clip-path: unset;
      padding: 50px;
      width: 100%;
      height: unset;
      border-radius: 20px; } }
  @media screen and (max-width: 500px) {
    .work__card-right {
      padding: 25px; } }

.work__card-right-content {
  max-width: 469px;
  color: #ffffff; }
  @media screen and (max-width: 780px) {
    .work__card-right-content {
      max-width: 100%; } }

.shadow-purpel {
  filter: drop-shadow(-23px 10px 19px #8937dc80); }

.shadow-green {
  filter: drop-shadow(28px 13px 21px #7cca8480); }

.input-area {
  text-align: center;
  margin-bottom: 108px; }
  @media screen and (max-width: 500px) {
    .input-area {
      margin-bottom: 50px; } }
  .input-area__desc {
    max-width: 592px;
    margin-top: 30px;
    color: #2f2d2d;
    font-size: 26px;
    line-height: 40px; }
    @media screen and (max-width: 500px) {
      .input-area__desc {
        margin-top: 25px;
        font-size: 20px;
        line-height: 30px; } }
  .input-area__holder {
    margin: 40px 0 106px 0;
    justify-content: center; }
    @media screen and (max-width: 500px) {
      .input-area__holder {
        flex-flow: column;
        margin: 25px 0 25px 0; } }

.input-field__holder {
  flex-basis: 793px;
  height: 95px;
  background-color: #d8d8d866;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; }
  @media screen and (max-width: 780px) {
    .input-field__holder {
      height: 70px; } }
  @media screen and (max-width: 500px) {
    .input-field__holder {
      flex-basis: 50px;
      height: 45px;
      border-radius: 8px; } }

.input-field {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 22px; }
  @media screen and (max-width: 780px) {
    .input-field {
      font-size: 20px; } }
  @media screen and (max-width: 500px) {
    .input-field {
      font-size: 18px; } }

.input-sumbit {
  border: 0;
  outline: 0;
  font-size: 22px;
  flex-basis: 283px;
  background-color: #130242;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer; }
  @media screen and (max-width: 780px) {
    .input-sumbit {
      font-size: 20px;
      flex-basis: 350px; } }
  @media screen and (max-width: 500px) {
    .input-sumbit {
      flex-basis: 50px;
      width: 50%;
      margin: 25px auto 0 auto;
      font-size: 18px; } }
  .input-sumbit-icon {
    margin-left: 26px; }
    @media screen and (max-width: 780px) {
      .input-sumbit-icon {
        margin-left: 10px; } }
    @media screen and (max-width: 500px) {
      .input-sumbit-icon {
        margin-left: 5px; } }

.horizontal-line {
  background-color: #bcd0e566; }

.footer {
  height: 600px;
  background-image: url(assets/img/Group.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 1006px) {
    .footer {
      height: 500px; } }
  @media screen and (max-width: 500px) {
    .footer {
      height: 590px; } }
  @media screen and (max-width: 1006px) {
    .footer__container {
      flex-direction: column; } }
  .footer__logo {
    flex-basis: 325px; }
    @media screen and (max-width: 1006px) {
      .footer__logo {
        flex-basis: 100px;
        text-align: center; } }
    @media screen and (max-width: 500px) {
      .footer__logo {
        flex-basis: 55px; } }
  @media screen and (max-width: 1006px) {
    .footer__nav-area {
      justify-content: space-around; } }
  @media screen and (max-width: 500px) {
    .footer__nav-area {
      flex-direction: column;
      text-align: center; } }
  .footer__nav-holder {
    margin-right: 80px; }
    @media screen and (max-width: 1006px) {
      .footer__nav-holder {
        margin-right: unset; } }
    @media screen and (max-width: 500px) {
      .footer__nav-holder {
        margin-bottom: 25px; } }
  .footer__nav-heading {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 35px;
    color: #2f2d2d; }
    @media screen and (max-width: 500px) {
      .footer__nav-heading {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 15px; } }
  .footer__nav-item {
    font-size: 18px;
    line-height: 35px; }
    @media screen and (max-width: 500px) {
      .footer__nav-item {
        font-size: 14px;
        line-height: 25px; } }
    .footer__nav-item-link {
      color: #2f281e; }

.footer__nav-social-facebook {
  color: #4267b2;
  margin-right: 17px; }
  @media screen and (max-width: 500px) {
    .footer__nav-social-facebook {
      margin-right: 4px; } }

.footer__nav-social-twitter {
  color: #1da1f2;
  margin-right: 10px; }
  @media screen and (max-width: 500px) {
    .footer__nav-social-twitter {
      margin-right: 4px; } }

.footer__nav-social-instagram {
  color: #df0142;
  margin-right: 14px; }
  @media screen and (max-width: 500px) {
    .footer__nav-social-instagram {
      margin-right: 4px; } }

.signup-area {
  padding: 50px;
  color: #2f2d2d;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  z-index: 15;
  background-color: #ffffff;
  overflow: auto; }
  @media screen and (max-width: 500px) {
    .signup-area {
      border-radius: unset;
      width: 100%;
      height: 100%; } }

.signup__heading {
  color: #2f2d2d;
  font-size: 26px;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .signup__heading {
      font-size: 22px; } }

.signup-warp {
  margin-top: 50px;
  font-size: 0; }
  @media screen and (max-width: 886px) {
    .signup-warp {
      margin-top: 30px; } }

.signup__input-holder {
  width: calc(100% / 2);
  padding: 0 20px;
  font-size: 14px;
  position: relative; }
  @media screen and (max-width: 886px) {
    .signup__input-holder {
      width: 100%;
      padding: 0;
      margin-top: 25px; } }
  .signup__input-holder > span {
    visibility: hidden;
    position: absolute;
    right: 25px;
    bottom: 22px; }

.success input {
  border-color: #49a652; }

.success .success-icon {
  color: #49a652;
  visibility: visible; }

.error input {
  border-color: #df0142; }

.error .error-icon {
  color: #df0142;
  visibility: visible; }

.error .er-msg {
  visibility: visible; }

.er-msg {
  visibility: hidden;
  padding-top: 5px;
  color: #df0142; }

.signup__input-field {
  font-size: 20px; }

.signup__input-area {
  padding-top: 10px;
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  border-bottom: 1.5px solid #a4a4a44d;
  font-size: 16px; }
  .signup__input-area:focus-within {
    border-color: #7f83ff; }

.signup__terms-condiction {
  font-size: 14px;
  padding-left: 20px; }
  @media screen and (max-width: 886px) {
    .signup__terms-condiction {
      padding: 0; } }

.terms-conditions__color {
  color: #7f83ff; }

.signup-btn__holder {
  text-align: right; }
  @media screen and (max-width: 500px) {
    .signup-btn__holder {
      text-align: center; } }

.signup__foot-decs {
  font-size: 18px;
  text-align: center;
  margin-top: 30px; }

.signup-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 26px; }

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 10; }

.hidden {
  display: none; }
