// COLORS
$primary-text-color: #2f2d2d;
$secondary-text-color: #ffffff;
$header-nav-btn: #7f83ff;
$header-nav-text: #434343;

// FONT SIZE
$font-size: (
  fs-18: 18px,
  fs-26: 26px,
);

// LINE HEIGTH
$line-height: (
  lh-18: 18px,
  lh-40: 40px,
);
