@import "variables";
@font-face {
  font-family: Metropolis;
  src: url(../assets//font/Metropolis-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Metropolis;
  src: url(../assets/font/Metropolis-Bold.otf);
  font-weight: bold;
}

.horizontal-align {
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  max-width: 1152px;
  padding: 0 20px;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
}
.inline-block {
  display: inline-block;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
// ******----styling-----*******//
.top__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: $secondary-text-color;
}
.header__nav {
  padding: 25px 20px;
  display: flex; //flex
}
.logo__size {
  width: 176px;
  height: 49px;
}
.header__nav-holder {
  margin-top: 4px;
  margin-left: auto; // flex
}
.header__nav-item {
  font-size: map-get($font-size, fs-18);
  // color: $header-nav-btn;
  color: $header-nav-text;
  // line-height: $lh-18;
  line-height: map-get($line-height, lh-18);

  &--active {
    background-color: $header-nav-btn;
    color: $secondary-text-color;
    padding: 12px 20px 12px 22px;
    border-radius: 20px;
    margin-left: 53px;
  }
}
.hero {
  background-image: url(../assets/img/hero.png);
  height: 130vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &__content {
    max-width: 798px;
    text-align: center;
    transform: translateY(50%);
  }
  &__desc {
    margin-top: 30px;
    font-size: map-get($font-size, fs-26);
    line-height: map-get($line-height, lh-40);
  }
  &__btn-holder {
    margin-top: 30px;
  }
  &__btn {
    font-size: map-get($font-size, fs-25);
    line-height: map-get($line-height, lh-25);
    padding: 15px 0;
    width: 151px;
    text-align: center;
    border-radius: 8px;
  }
  &__btn-bgcolor {
    background-color: $hero-btn;
    color: $secondary-text-color;
    margin-right: 32px;
  }

  &__btn-border {
    border: 2px solid $hero-btn;
    color: $hero-btn;
  }
}
.hire-warp {
  padding: 179px 0 130px 0;
}
.warp__header {
  max-width: 694px;
  text-align: center;
  font-size: 0;
  margin-bottom: 179px;
}
.warp__nav {
  margin-top: 46px;
}
.warp__nav-item {
  font-size: 22px;
  border-bottom: 3px solid $warp-border;
  width: calc(100% / 3);
  padding: 33px 0;
}
.nav-item__circle {
  height: 47px;
  width: 47px;
  border-radius: 50px;

  &-icon {
    padding: 14px;
  }
}
.nav-item__text {
  font-size: map-get($font-size, fs-22);
  line-height: map-get($line-height, lh-25);
  margin: 23px;
  color: $primary-text-color;
}
.nav-item__circle-blue {
  background-color: $light-blue;
}
.nav-item__text-blue {
  color: $light-blue;
}
.nav-item__circle-red {
  background-color: $circle-red;
}
.nav-item__circle-green {
  background-color: $circle-green;
}
.warp__nav-item-blue {
  border-bottom-color: $light-blue;
}
.hire__bg-right {
  background-image: url(../assets/img/Group145.png);
  height: 608px;
  background-repeat: no-repeat;
  background-position: right;
}
.hire__card-left {
  margin-top: 40px;
  clip-path: polygon(0 0, 100% 0, 96% 80%, 0 100%);
  background-color: $card-blue;
  width: 752px;
  border-radius: 20px;
}
.hire__card-left-content {
  width: 564px;
  padding: 49px 0 98px 56px;
  color: $secondary-text-color;
  // filter: blur(62.5205px);
}
.hire__card-left-desc {
  margin-top: 20px;
  font-size: map-get($font-size, fs-18);
  line-height: map-get($line-height, lh-31);
}
.hire__bg-left {
  margin-top: 144px;
  background-image: url(../assets/img/Group172.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 768px;
}
.hire__card-right {
  margin-top: 80px;
  clip-path: polygon(13% 18%, 100% 0, 100% 100%, 0 100%);
  background-color: $card-orange;
  width: 709px;
  border-radius: 20px;
}
.hire__card-right-content {
  width: 591px;
  padding: 153px 0 87px 122px;
  color: $secondary-text-color;
}
.hire__card-right-desc {
  margin-top: 20px;
  font-size: map-get($font-size, fs-18);
  line-height: map-get($line-height, lh-31);
}
