@font-face {
  font-family: Metropolis;
  src: url(assets//font/Metropolis-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Metropolis;
  src: url(assets/font/Metropolis-Bold.otf);
  font-weight: bold;
}
