.horizontal-align {
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  max-width: 1150px;
  padding: 0 20px;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
}
.popup-container {
  max-width: 700px;
  padding: 0 20px;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

// F L E X
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}

.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
