.footer {
  height: 600px;
  background-image: url(assets/img/Group.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint(footer-container) {
    height: 500px;
  }

  @include breakpoint(small-screen) {
    height: 590px;
  }

  &__container {
    @include breakpoint(footer-container) {
      flex-direction: column;
    }
  }

  &__logo {
    flex-basis: 325px;

    @include breakpoint(footer-container) {
      flex-basis: 100px;
      text-align: center;
    }

    @include breakpoint(small-screen) {
      flex-basis: 55px;
    }
  }

  &__nav-area {
    @include breakpoint(footer-container) {
      justify-content: space-around;
    }

    @include breakpoint(small-screen) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__nav-holder {
    margin-right: 80px;

    @include breakpoint(footer-container) {
      margin-right: unset;
    }
    @include breakpoint(small-screen) {
      margin-bottom: 25px;
    }
  }
  &__nav-heading {
    font-size: font-size(fs-25);
    line-height: line-height(lh-31);
    margin-bottom: 35px;
    color: $primary-text-color;

    @include breakpoint(small-screen) {
      font-size: font-size(fs-22);
      line-height: line-height(lh-25);
      margin-bottom: 15px;
    }
  }
  &__nav-item {
    font-size: font-size(fs-18);
    line-height: line-height(lh-35);

    @include breakpoint(small-screen) {
      font-size: font-size(fs-14);
      line-height: line-height(lh-25);
    }

    &-link {
      color: $color-primary-brown;
    }
  }
}
.footer__nav-social-facebook {
  color: $color-secondary-blue;
  margin-right: 17px;

  @include breakpoint(small-screen) {
    margin-right: 4px;
  }
}

.footer__nav-social-twitter {
  color: $color-tertiary-blue;
  margin-right: 10px;

  @include breakpoint(small-screen) {
    margin-right: 4px;
  }
}

.footer__nav-social-instagram {
  color: $color-primary-red;
  margin-right: 14px;

  @include breakpoint(small-screen) {
    margin-right: 4px;
  }
}
