.hero {
  background-image: url(assets/img/hero.png);
  height: 950px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint(small-screen) {
    height: 100vh;
  }

  &__content {
    max-width: 798px;
    text-align: center;
    margin-top: 150px;

    @include breakpoint(medium-largre-screen) {
      width: 500px;
    }
    @include breakpoint(medium-small-screen) {
      width: 85%;
    }
  }
  &__heading {
    color: $primary-text-color;

    @include breakpoint(small-screen) {
      font-size: font-size(fs-30);
      line-height: line-height(lh-40);
    }
  }
  &__desc {
    @include desc();
  }
  &__btn-holder {
    margin-top: 30px;

    @include breakpoint(small-screen) {
      margin-top: 25px;
    }
  }
  &__btn {
    font-size: font-size(fs-25);
    line-height: line-height(lh-25);
    padding: 15px 0;
    width: 151px;
    text-align: center;
    border-radius: 8px;

    @include breakpoint(small-screen) {
      font-size: font-size(fs-18);
      line-height: line-height(lh-20);
      padding: 12px 0;
      width: 110px;
    }
  }
  &__btn-bgcolor {
    background-color: $hero-btn;
    color: $secondary-text-color;
    margin-right: 32px;
  }

  &__btn-border {
    border: 2px solid $hero-btn;
    color: $hero-btn;
  }
}
