.hire-warp {
  padding: 179px 0 130px 0;

  @include breakpoint(small-screen) {
    padding: 80px 0 80px 0;
  }
}

.hire__bg-right {
  background-image: url(assets/img/Group145.png);
  height: 608px;
  background-repeat: no-repeat;
  background-position: bottom right;

  @include breakpoint(medium-largre-screen) {
    height: 800px;
  }
  @include breakpoint(medium-small-screen) {
    background-size: 523px;
  }
  @include breakpoint(small-screen) {
    height: 520px;
    background-size: 310px;
  }
}
// .hire__card-left-blur {
//   filter: filter(blue-fliter);
// }
.hire__card-left {
  clip-path: path(
    "M0.0293706 21.0294C0.0131563 9.41993 9.41992 0 21.0294 0H728.117C740.782 0 750.565 11.1262 748.944 23.6867L715.555 282.518L23.6719 355.554C11.2823 356.862 0.484857 347.158 0.467457 334.699L0.0293706 21.0294Z"
  );
  background-color: $color-cornflower-blue;
  padding: 49px 0 98px 56px;
  width: 750px;
  height: 356px;

  @include breakpoint(medium-small-screen) {
    clip-path: unset;
    width: 100%;
    border-radius: 20px;
    // background-color: rgba(119, 150, 254, 0.5);
    height: unset;
    padding: 50px;
  }

  @include breakpoint(small-screen) {
    padding: 25px;
  }
}
.hire__card-left-content {
  max-width: 564px;
  color: $secondary-text-color;

  @include breakpoint(medium-small-screen) {
    max-width: 100%;
  }
}
.card-heading {
  @include breakpoint(medium-small-screen) {
    line-height: line-height(lh-35);
  }

  @include breakpoint(small-screen) {
    font-size: font-size(fs-22);
    line-height: line-height(lh-30);
  }
}
.card-desc {
  margin-top: 20px;
  font-size: font-size(fs-18);
  line-height: line-height(lh-31);

  @include breakpoint(small-screen) {
    font-size: font-size(fs-16);
    line-height: line-height(lh-22);
    margin-top: 15px;
  }
}
.hire__bg-left {
  margin-top: 144px;
  background-image: url(assets/img/Group172.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 768px;

  @include breakpoint(medium-largre-screen) {
    margin-top: unset;
    height: 1200px;
  }

  @include breakpoint(medium-small-screen) {
    background-size: 500px;
    height: 1120px;
  }
  @include breakpoint(small-screen) {
    background-size: 300px;
    height: 800px;
  }
}
.hire__card-right {
  margin-top: 80px;
  clip-path: path(
    "M78 93.165L681.968 0.532488C694.08 -1.32522 705 8.04735 705 20.3013V503C705 514.046 696.046 523 685 523H20.1761C7.62763 523 -1.82108 511.578 0.530394 499.252L78 93.165Z"
  );
  background-color: $color-coral;
  padding: 153px 0 87px 122px;
  width: 709px;
  height: 523px;

  @include breakpoint(medium-small-screen) {
    clip-path: unset;
    // background-color: rgba(255, 134, 91, 0.5);
    padding: 50px;
    width: 100%;
    height: unset;
    border-radius: 20px;
  }

  @include breakpoint(small-screen) {
    margin-top: 60px;
    padding: 25px;
  }
}
.hire__card-right-content {
  max-width: 539px;
  color: $secondary-text-color;

  @include breakpoint(medium-small-screen) {
    max-width: 100%;
  }
}
.hire__card-right-desc {
  margin-top: 20px;
  font-size: font-size(fs-18);
  line-height: map-get($line-height, lh-31);
}
