.input-area {
  text-align: center;
  margin-bottom: 108px;

  @include breakpoint(small-screen) {
    margin-bottom: 50px;
  }

  &__desc {
    max-width: 592px;
    @include desc();
  }
  &__holder {
    margin: 40px 0 106px 0;
    justify-content: center;

    @include breakpoint(small-screen) {
      flex-flow: column;
      margin: 25px 0 25px 0;
    }
  }
}

.input-field__holder {
  flex-basis: 793px;
  height: 95px;
  background-color: $color-opacity-secondary-silver;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  @include breakpoint(medium-small-screen) {
    height: 70px;
  }
  @include breakpoint(small-screen) {
    flex-basis: 50px;
    height: 45px;
    border-radius: 8px;
  }
}

.input-field {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: font-size(fs-22);

  @include breakpoint(medium-small-screen) {
    font-size: font-size(fs-20);
  }
  @include breakpoint(small-screen) {
    font-size: font-size(fs-18);
  }
}
.input-sumbit {
  border: 0;
  outline: 0;
  font-size: font-size(fs-22);
  flex-basis: 283px;
  background-color: $color-primary-dark-blue;
  color: $secondary-text-color;
  border-radius: 8px;
  cursor: pointer;

  @include breakpoint(medium-small-screen) {
    font-size: font-size(fs-20);
    flex-basis: 350px;
  }

  @include breakpoint(small-screen) {
    flex-basis: 50px;
    width: 50%;
    margin: 25px auto 0 auto;
    font-size: font-size(fs-18);
  }

  &-icon {
    margin-left: 26px;

    @include breakpoint(medium-small-screen) {
      margin-left: 10px;
    }
    @include breakpoint(small-screen) {
      margin-left: 5px;
    }
  }
}
.horizontal-line {
  background-color: $color-opacity-tertiary-silver;
}
