.warp__header {
  max-width: 694px;
  text-align: center;
  margin-bottom: 179px;

  @include breakpoint(small-screen) {
    margin-bottom: 80px;
  }
}
.warp__heading {
  color: $primary-text-color;
}
.warp__nav {
  margin-top: 46px;

  @include breakpoint(small-screen) {
    margin-top: 30px;
  }
}
.warp__nav-item {
  font-size: 22px;
  border-bottom: 3px solid $color-opacity-primary-silver;
  width: calc(100% / 3);
  margin-top: 33px;
  padding-bottom: 33px;
  justify-content: center;
  align-items: center;

  @include breakpoint(medium-small-screen) {
    flex-flow: column;
  }
  @include breakpoint(small-screen) {
    padding-bottom: 15px;
  }
}
.nav-item__circle {
  &-icon {
    padding: 14px;
    border-radius: 50px;
    height: 47px;
    width: 47px;

    @include breakpoint(small-screen) {
      padding: 12px;
      height: 42px;
      width: 42px;
    }
  }
}
.nav-item__text {
  font-size: font-size(fs-22);
  line-height: map-get($line-height, lh-25);
  margin: 0 0 0 23px;
  color: $primary-text-color;

  @include breakpoint(medium-small-screen) {
    margin: 18px 0 0 0;
  }
  @include breakpoint(small-screen) {
    margin: 10px 0 0 0;
    font-size: font-size(fs-18);
  }
}

.nav-item__circle-blue {
  background-color: $color-opacity-primary-blue;
}
.nav-item__circle-red {
  background-color: $color-opacity-primary-orange;
}
.nav-item__circle-green {
  background-color: $color-opacity-primary-green;
}

.nav-item__circle-pink {
  background-color: $color-opacity-primary-pink;
}
.nav-item__circle-skyblue {
  background-color: $color-opacity-primary-aqua-blue;
}
.nav-item__circle-purpel {
  background-color: $color-opacity-primary-dark-blue;
}

// class add by js
// .warp__nav-item-blue {
//   border-bottom-color: $color-primary-blue;
//   cursor: pointer;
// }
// .nav-item__text-blue {
//   color: $color-primary-blue;
// }
// .fill-bg-blue {
//   background-color: $color-primary-blue;
// }

// .color-white[fill] {
//   fill: #ffffff;
// }

// .warp__nav-item-red {
//   border-bottom-color: $color-primary-orange;
//   cursor: pointer;
// }
// .nav-item__text-red {
//   color: $color-primary-orange;
// }
// .fill-bg-red {
//   background-color: $color-primary-orange;
// }

// .warp__nav-item-green {
//   border-bottom-color: $color-primary-green;
//   cursor: pointer;
// }
// .nav-item__text-green {
//   color: $color-primary-green;
// }
// .fill-bg-green {
//   background-color: $color-primary-green;
// }

// .warp__nav-item-pink {
//   border-bottom-color: $color-primary-pink;
//   cursor: pointer;
// }
// .nav-item__text-pink {
//   color: $color-primary-pink;
// }
// .fill-bg-pink {
//   background-color: $color-primary-pink;
// }

// .warp__nav-item-skyblue {
//   border-bottom-color: $color-primary-aqua-blue;
//   cursor: pointer;
// }
// .nav-item__text-skyblue {
//   color: $color-primary-aqua-blue;
// }
// .fill-bg-skyblue {
//   background-color: $color-primary-aqua-blue;
// }

// .warp__nav-item-purpel {
//   border-bottom-color: $color-primary-dark-blue;
//   cursor: pointer;
// }
// .nav-item__text-purpel {
//   color: $color-primary-dark-blue;
// }
// .fill-bg-purpel {
//   background-color: $color-primary-dark-blue;
// }

.hover-blue:hover {
  border-bottom-color: $color-primary-blue;
  @include cursor-pointer();

  & > .nav-item__circle-blue {
    background-color: $color-primary-blue;
  }
  & > .text-blue {
    color: $color-primary-blue;
  }
  & .hire__edit-icon[fill] {
    @include fill-icon();
  }
}

.hover-red:hover {
  border-bottom-color: $color-primary-orange;
  @include cursor-pointer();

  & > .nav-item__circle-red {
    background-color: $color-primary-orange;
  }
  & > .text-red {
    color: $color-primary-orange;
  }
  & .hire__done-icon[fill] {
    @include fill-icon();
  }
}

.hover-green:hover {
  border-bottom-color: $color-primary-green;
  @include cursor-pointer();

  & > .nav-item__circle-green {
    background-color: $color-primary-green;
  }
  & > .text-green {
    color: $color-primary-green;
  }
  & .hire__people-icon[fill] {
    @include fill-icon();
  }
}

.hover-pink:hover {
  border-bottom-color: $color-primary-pink;
  @include cursor-pointer();

  & > .nav-item__circle-pink {
    background-color: $color-primary-pink;
  }
  & > .text-pink {
    color: $color-primary-pink;
  }
  & .work__job-icon[fill] {
    @include fill-icon();
  }
}

.hover-skyblue:hover {
  border-bottom-color: $color-primary-aqua-blue;
  @include cursor-pointer();

  & > .nav-item__circle-skyblue {
    background-color: $color-primary-aqua-blue;
  }
  & > .text-skyblue {
    color: $color-primary-aqua-blue;
  }
  & .work__done-icon[fill] {
    @include fill-icon();
  }
}

.hover-purpel:hover {
  border-bottom-color: $color-primary-dark-blue;
  @include cursor-pointer();

  & > .nav-item__circle-purpel {
    background-color: $color-primary-dark-blue;
  }
  & > .text-purpel {
    color: $color-primary-dark-blue;
  }
  & .work__people-icon[fill] {
    @include fill-icon();
  }
}
