.warp__header {
  max-width: 694px;
  text-align: center;
  margin-bottom: 179px;

  @include breakpoint(small-screen) {
    margin-bottom: 80px;
  }
}
.warp__heading {
  color: $primary-text-color;
}
.warp__nav {
  margin-top: 46px;

  @include breakpoint(small-screen) {
    margin-top: 30px;
  }
}
.warp__nav-item {
  font-size: 22px;
  border-bottom: 3px solid $color-opacity-quick-silver;
  width: calc(100% / 3);
  margin-top: 33px;
  padding-bottom: 33px;
  justify-content: center;
  align-items: center;

  @include breakpoint(medium-small-screen) {
    flex-flow: column;
  }
  @include breakpoint(small-screen) {
    padding-bottom: 15px;
  }
}
.nav-item__circle {
  // height: 47px;
  // width: 47px;
  // border-radius: 50px;

  // @include breakpoint(small-screen) {
  //   height: 42px;
  //   width: 42px;
  // }

  &-icon {
    padding: 14px;
    border-radius: 50px;
    height: 47px;
    width: 47px;

    @include breakpoint(small-screen) {
      padding: 12px;
      height: 42px;
      width: 42px;
    }
  }
}
.nav-item__text {
  font-size: font-size(fs-22);
  line-height: map-get($line-height, lh-25);
  margin: 0 0 0 23px;
  color: $primary-text-color;

  @include breakpoint(medium-small-screen) {
    margin: 18px 0 0 0;
  }
  @include breakpoint(small-screen) {
    margin: 10px 0 0 0;
    font-size: font-size(fs-18);
  }
}

.nav-item__circle-blue {
  background-color: $color-opacity-cornflower-blue;
}
.nav-item__circle-red {
  background-color: $color-opacity-sunset-orange;
}
.nav-item__circle-green {
  background-color: $color-opacity-middle-green;
}

.nav-item__circle-pink {
  background-color: $color-opacity-philippine-pink;
}
// .nav-item__text-pink {
//   color: $color-philippine-pink;
// }
.nav-item__circle-skyblue {
  background-color: $color-opacity-dark-turquoise;
}
.nav-item__circle-purpel {
  background-color: $color-opacity-cetacean-blue;
}
// .warp__nav-item-pink {
//   border-bottom-color: $color-philippine-pink;
// }

// class add by js
.warp__nav-item-blue {
  border-bottom-color: $color-cornflower-blue;
  cursor: pointer;
  transform: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-item__text-blue {
  color: $color-cornflower-blue;
}
.fill-bg-blue {
  background-color: $color-cornflower-blue;
}

.color-white[fill] {
  fill: #ffffff;
}

.warp__nav-item-red {
  border-bottom-color: $color-sunset-orange;
  cursor: pointer;
}
.nav-item__text-red {
  color: $color-sunset-orange;
}
.fill-bg-red {
  background-color: $color-sunset-orange;
}

.warp__nav-item-green {
  border-bottom-color: $color-middle-green;
  cursor: pointer;
}
.nav-item__text-green {
  color: $color-middle-green;
}
.fill-bg-green {
  background-color: $color-middle-green;
}

.warp__nav-item-pink {
  border-bottom-color: $color-philippine-pink;
  cursor: pointer;
}
.nav-item__text-pink {
  color: $color-philippine-pink;
}
.fill-bg-pink {
  background-color: $color-philippine-pink;
}

.warp__nav-item-skyblue {
  border-bottom-color: $color-dark-turquoise;
  cursor: pointer;
}
.nav-item__text-skyblue {
  color: $color-dark-turquoise;
}
.fill-bg-skyblue {
  background-color: $color-dark-turquoise;
}

.warp__nav-item-purpel {
  border-bottom-color: $color-cetacean-blue;
  cursor: pointer;
}
.nav-item__text-purpel {
  color: $color-cetacean-blue;
}
.fill-bg-purpel {
  background-color: $color-cetacean-blue;
}
