.work-warp {
  margin-bottom: 287px;

  @include breakpoint(medium-largre-screen) {
    margin-bottom: 180px;
  }

  @include breakpoint(small-screen) {
    margin-bottom: 80px;
  }
}

.work__bg-right {
  background-image: url(assets/img/Group163.png);
  height: 621px;
  background-repeat: no-repeat;
  background-position: bottom right;

  @include breakpoint(medium-largre-screen) {
    height: 870px;
  }
  @include breakpoint(medium-small-screen) {
    height: 800px;
    background-size: 450px;
  }
  @include breakpoint(small-screen) {
    height: 600px;
    background-size: 320px;
  }
}
.work__card-left {
  clip-path: path(
    "M29.3663 425.915C30.191 437.538 40.3202 446.267 51.9369 445.366L686.38 396.176C698.207 395.259 706.927 384.736 705.631 372.945L673.617 81.5993L24.3371 1.1398C11.2134 -0.486511 -0.128856 10.276 0.807213 23.4669L29.3663 425.915Z"
  );
  background-color: $color-blue-violet;
  padding: 99px 0 80px 79px;
  width: 706px;
  height: 446px;

  @include breakpoint(medium-small-screen) {
    clip-path: unset;
    // background-color: rgba(137, 55, 220, 0.5);
    padding: 50px;
    width: 100%;
    height: unset;
    border-radius: 20px;
  }

  @include breakpoint(small-screen) {
    padding: 25px;
  }
}
.work__card-left-content {
  max-width: 490px;
  color: $secondary-text-color;

  @include breakpoint(medium-small-screen) {
    max-width: 100%;
  }
}
.work__bg-left {
  margin-top: 200px;
  background-image: url(assets/img/Group247.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 802px;

  @include breakpoint(medium-largre-screen) {
    height: 1200px;
    margin-top: unset;
  }

  @include breakpoint(medium-small-screen) {
    height: 1200px;
    background-size: 500px;
  }

  @include breakpoint(small-screen) {
    height: 885px;
    background-size: 300px;
  }
}
.work__card-right {
  margin-top: 80px;
  clip-path: path(
    "M76.1246 98.6C77.8497 90.3411 84.572 84.053 92.9276 82.8825L681.741 0.398299C694.272 -1.35714 705.264 8.81924 704.477 21.4483L670.382 568.82C669.643 580.673 658.798 589.276 647.087 587.297L17.4942 480.893C6.30541 479.002 -1.07048 468.191 1.24956 457.083L76.1246 98.6Z"
  );
  background-color: $color-iguana-green;
  padding: 148px 0px 147px 132px;
  width: 709px;
  height: 594px;

  @include breakpoint(medium-small-screen) {
    clip-path: unset;
    padding: 50px;
    width: 100%;
    height: unset;
    border-radius: 20px;
  }

  @include breakpoint(small-screen) {
    padding: 25px;
  }
}
.work__card-right-content {
  max-width: 469px;
  color: $secondary-text-color;

  @include breakpoint(medium-small-screen) {
    max-width: 100%;
  }
}
