// FONT SIZE
$font-size: (
  fs-18: 18px,
  fs-22: 22px,
  fs-25: 25px,
  fs-26: 26px,
);

// LINE HEIGTH
$line-height: (
  lh-18: 18px,
  lh-25: 25px,
  lh-30: 30px,
  lh-31: 31px,
  lh-35: 35px,
  lh-40: 40px,
);
