// COLORS
$primary-text-color: #2f2d2d;
$secondary-text-color: #ffffff;
$header-nav-btn: #7f83ff;
$header-nav-text: #434343;
$hero-btn: #4a4edd;
$warp-border: rgba(164, 164, 164, 0.329764);
$light-blue: #7796fe;
$circle-red: rgba(253, 94, 94, 0.2);
$circle-green: rgba(73, 166, 82, 0.2);
$card-blue: #7796fe;
$card-orange: rgba(255, 134, 91, 1);
$circle-pink: #fb1488;
$circle-sky-blue: rgba(3, 211, 226, 0.2);
$circle-purpel: rgba(19, 2, 66, 0.2);
$card-purple: #8937dc;
$card-green: #7cca84;
$input-background: rgba(216, 216, 216, 0.39);
$purple: #130242;
$hr-line: rgba(188, 208, 229, 0.496913);
$footer-link: #2f281e;
$facebook-blue: #4267b2;
$instagram-pink: #df0142;
$twitter-blue: #1da1f2;
